.list{
	display:grid;
	grid-template-rows:min-content 1fr min-content;

	background:white;

	min-height:150px;
	height:fit-content;

	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

	gap:6px;

	border-radius:12px;
	position:relative;
}

.information{
	display:flex;
	place-items:center;
}

.information input{
	display:flex;
	width:100%;
	border:none;
	border-radius:12px 12px 0 0;
	outline:none;

	height:100%;

	padding:12px 6px 6px 12px;
	font-size:14px;
}

.actions svg{
	color:black;
	stroke:black;

	width:20px;
	height:20px;
	z-index:10;
}

.actions{
	display:flex;
	width:100%;
	place-content:flex-end;

	gap:6px;
	position:relative;
	z-index:2;
}

.content{
	display:flex;
	flex-direction:column;
}

.actions, .content{
	padding:6px;
}

.onDragging{
	z-index:4;
}

.onOverDragging{
	outline:3px solid var(--background);
	opacity:0.75;
	z-index:3;
}
