.container{
	display:grid;
	grid-template-rows:min-content 1fr;
	grid-template-areas:
	"actions"
	"watcher";

	width:90%;
	height:90vh;


	gap:12px;
}

.actions,.watcher{
	padding:6px;
	border-radius:6px;
}

.actions{
	grid-area:actions;
	background:white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

	display:flex;
	flex-direction:row;
	width:100%;
	place-content:space-between;

}

.watcher{
	grid-area:watcher;

	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
	gap:12px;
	padding:12px;

	place-content:flex-start;
	position:relative;
}
